*
{
	margin: 0;
	padding: 0;
}

/* horizontal scrolling */
html, body {height: 100%; width: 200%}

.fullpage {
	border: 0px solid black;
    width: 25%;
    height: 100%;
    float: left;
}

#p1 {background: #fcf;}
#p2 {background: #ff0;}
#p3 {background: green;}
#p4 {background: blue;}

.text
{
	width: 300px;
	height: 300px;
}

/* header */
header
{
	width: 100%;
	background-color: #FAFAD2;
	height: 10%;
	position: fixed;
	z-index: 1;
	margin-top: -2.8%;
}

header ul li
{
	display: inline;
}

header nav
{
	float: right;
	margin-right: 1%;
}

header #logo
{
	background-image: url("../Images/logo.png");
	overflow: hidden;
	width: 122px;
	height: 53px;
	float: left;
	margin-left: 7px;
	margin-top: 3px;
}

header #logo h1
{
	position: relative;
	margin-left: 1000px;
}

/* pagebuttons */
.nextButton,.prevButton
{
	height: 100%;
	width: 3%;;
	position: absolute;
	top: 0;
}

.nextButton
{
	margin-left: 97%;
	background-color: white;
}

.prevButton
{
	background-color: red;
}

.contentFullPage
{
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 1%;
	background-color: white;
	height: auto;
}